* {
  margin:0;
  padding:0;
  background: #0000ff0d;
}

.box {
    width: 200px;
    height: 200px;
    background: black;
}

.display {
    display: none;
}

button {
    background: blue;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    margin-top:10px
}